/* General styles for all menus */
.cbp-spmenu {
	background: rgba(0,0,0,0.3);
	position: fixed;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999999;
}
/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	/*left: -100%;*/ right:-100%
}

.cbp-spmenu-left.cbp-spmenu-open {
	/*left: 0px;*/ right:0
}

.cbp-spmenu-right.cbp-spmenu-open {
	/*left: 0px;*/ right:0
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

