/* GENERAL */

.separador{
    border-top: 2px solid #ebebeb;
    width: 100%;
}

@media (max-width:767px) {
    .separador {
            margin-top: 10px;
            margin-bottom: 10px;
    }
}


/* LAYOUTS */

@media(max-width:1199px){
  .layout-2{ height: 350px !important; overflow: hidden !important; margin-bottom: 0; }
  .layout-2 .layout-2-1{height: 350px !important;}
  .layout-2 .layout-2-1 img{height: 167px;}
  .layout-2 .layout-2-3{height: 350px;}
}

/* FOOTER */

@media (min-width:991px) {
	.quienes-somos .content-quienes-somos {
		min-height:400px; /* evita que el borde derecho se vea ma/ */
	}
}

@media (max-width:1082px) {
	.content-footer { border: 0; margin-top: 30px; }
	.footer-1{
		font-family: Gotham-Light;
		font-size: 10px;
		height: 30px;
		margin: 25px auto;
		text-transform: uppercase;
		width: 100%;
	}
	.footer-1 .col-icon-aside{
		float: left;
		height: 30px;
		margin-right: 0;
		font-size:8px; 
		line-height: 10px;
		padding-left:10px;
		width:14%; 
	}
	.aside-icon {
		margin-right: 10px;
	}
}

@media (max-width:968px) {
	.content-footer{width: 90%}
	.footer-1{
		font-family: Gotham;
		height: 30px;
		margin: 25px auto;
		text-transform: uppercase;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}
	.footer-1 .col-icon-aside {
		float: left;
		height: 30px;
		font-family: 'Gotham-Light';
		width: 45%;
		margin-left: 5%;
		font-size: 14px;
		line-height: 15px;
		padding-left:20px;
		color: #5b5b5b;
		margin-bottom: 30px;
	}
	.footer-1 .col-icon-aside:nth-child(even) {
		width: 45%;
		margin-left: 5%;
	}
	.aside-icon {
		margin-top: -6px;
	}
	.aside-fina{margin-bottom: 15px;}
	.aside-dise{margin-bottom: 15px;}
	.aside-insta{margin-bottom: 15px;}
	.aside-certi{margin-bottom: 15px;}
	.aside-info{margin-bottom: 15px; padding-top: 5px !important;}
	.aside-cata{margin-bottom: 15px;}
	.aside-alfa{margin-bottom: 15px;}
}

@media(max-width:767px){
	.content-footer { width:90%; border: 0; margin: 20px auto 0 auto; }
	.footer-1{ font-size: 9px; padding: 0 15px; }
	.footer-1 .col-icon-aside {
		width: 48%;
		margin-left: 2%;
		font-size: 11px;
		padding-left:20px;
	}
	.footer-1 .col-icon-aside:nth-child(even) {
		width: 48%;
		margin-left: 2%;
	}
}



/* HOME */

/*LINEA TITULOS*/

/****ambientes****/
@media (max-width: 380px){
	.container.section-ambientes-title { width: 90%; }
}
@media (min-width: 381px) and (max-width: 480px){
	.container.section-ambientes-title { width: 92%; }
}
@media(min-width: 481px) and (max-width: 600px){
	.container.section-ambientes-title, .container.section-productos-title { width: 94%; }
}
@media (min-width: 601px) and (max-width: 720px){
	.container.section-ambientes-title, .container.section-productos-title {width: 95%; }
}
@media (min-width: 721px) and (max-width: 992px){
	.container.section-ambientes-title, .container.section-productos-title { width: 96%; }
}
@media (min-width: 881px) and (max-width: 992px){
	#ambientes h1:before, #ambientes h1:after { width: 150%;}
}
/****productos****/
@media (min-width: 320px) and (max-width: 345px){
    .section-productos-title h1:before { right: 100% }
    .info-cliente #productos h1:before, #productos h1:after { left: 100% }
}
@media (max-width: 380px){
	.container.section-productos-title { width: 90% }
}
@media (min-width: 381px) and (max-width: 480px){
	.container.section-productos-title { width: 93% }
}
@media (max-width: 992px){
	.section-productos-title h1:before, #productos h1:after { width: 100% }
	.info-cliente #productos h1:before, #productos h1:after { width: 100% }
}


@media(max-width:1080px){
    .bx-wrapper .bx-controls-direction a, 
    .slider-thumbs .bx-wrapper .bx-controls-direction a {
            margin-bottom: 20px;
    }

    #productos .bx-wrapper .bx-controls-direction a, 
    #productos .slider-thumbs .bx-wrapper .bx-controls-direction a {
            margin-top: -28px;
            top: 50% !important;
    }
	
}

/* CARUSEL */

@media (max-width: 768px) {
	.bx-wrapper .bx-controls-direction a, .slider-thumbs .bx-wrapper .bx-controls-direction a {
		top: 50% !important;
		margin-top: -35px !important;
	}
}


@media(max-width:1200px) {
	
	.owl-prev{
        background: url(/img/controls-mobile.png) 0 0 no-repeat;
        margin-top: -51px;
        width: 34px;
        height: 32px;
    }
    
    .owl-next{
        background: url(/img/controls-mobile.png) -100% 0 no-repeat;
        margin-top: -51px;
        width: 34px;
        height: 32px; 
    } 
	
	.blue .owl-prev { background-position: 0px 0px; margin-top: -37px; }
	.blue .owl-next { background-position: -41px 0px; margin-top: -37px; }
	.yellow .owl-prev { background-position: 0px -38px; margin-top: -37px; }
	.yellow .owl-next { background-position: -41px -38px; margin-top: -37px; }
	.orange .owl-prev { background-position: 0px -77px; margin-top: -37px; }
	.orange .owl-next { background-position: -41px -77px; margin-top: -37px; }
        .purple .owl-prev { 
            background-position: -10px -114px; 
            margin-top: 0px;
            width: 25px;
            height: 24px; 
        }
	.purple .owl-next { 
            background-position: -41px -114px; 
            margin-top: 0px; 
            width: 25px;
            height: 24px;
        }
}

@media(max-width:991px){
     
}


/* DETALLE PRODUCTOS */

@media(max-width: 991px){
	.det-formato{ padding: 0;}
	.detalle-producto .titulo-produc{padding: 0}
	.detalle-producto #slider{margin-bottom: 15px;padding: 0 !important;}
	.detalle-producto{font-size: 12px !important; padding-bottom: 0;}
	.detalle-producto h4{font-size: 14px;}
	.detalle-producto .detalle-producto-descr{position: relative;}
	.detalle-slider .slider-thumbs .carousel-control{height: 30px;top: 40%;width:30px;}
	.detalle-slider .right.carousel-control{background: url(../img/icon/arrow-slider-thumbs.png) no-repeat -33px -40px;left: 95%}
	.detalle-slider .left.carousel-control{background: url(../img/icon/arrow-slider-thumbs.png) no-repeat 0 -40px;}
	.detalle-producto-descr-mobile .panel-group .panel-detalle .panel-heading {padding:10px 5px !important;}    
}

@media(max-width:768px){
	.color-item{float: left;margin: 0 2px;position: relative;text-align: center;width: 40px;font-size: 11px}
	.color-item .cromo:before{background: #bababa;content: "";display: block;height: 25px;margin: 0 auto;position: relative;width: 25px; }
	.color-item .blanco:before{background: #f5f5f5;content: "";display: block;height: 25px;margin: 0 auto;position: relative;width: 25px; }
	.color-item .azul:before{background: #8fc1df;content: "";display: block;height: 25px;margin: 0 auto;position: relative;width: 25px; }
	.detalle-producto .det-formato .col-xs-3{width: 33%; padding-left:0;}
	.detalle-producto .solicita-cot a:after{background: none;content: "";}
	.detalle-producto .col-xs-12.sin-padding-right{padding: 0}
	.detalle-producto .solicita-cot{margin-bottom: 25px !important;width: 100%;background: #683085;font-family: 'Ubuntu', sans-serif;font-weight: 100 !important;font-size: 22px;height: 50px;padding: 7px 0px !important;text-align: center !important;text-transform: uppercase;}
	.det-formato{border-bottom: none !important;margin: 2px 0;padding: 0px;}
	.det-formato .no-padding-mob { padding: 0 10px; }
	.detalle-producto .panel-body{ border: 0px !important; padding:10px 0; }
	.panel-detalle{border-top: 1px solid rgba(0,0,0,0.15);margin: 5px 0;}
	.panel-open{display: block;position: relative;}
	.panel-open:after{background:url(../img/icon/arrow-down-acordion.gif) no-repeat 50% 50%; width:35px; height:35px; -webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);-webkit-transition: -webkit-transform 0.5s;transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);transition: transform 0.5s;right:5px;top: 5px;content: '';position: absolute;}
	.panel-open.collapsed:after {-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);}
}

@media (max-width:991px) {
    .item-producto-cat {
        height: auto;
    }
    
    .producto-cat{
        padding-bottom: 0;
    }
}

@media (max-width:1024px){
	.item-producto-cat .prod-new{height: 55px;right: 5px;top: 5px;width: 55px;}
	.item-producto-cat .prod-new:before{left: 0px;top: 18px; font-size: 13px;}
	.item-producto-cat .prod-descuento{height: 55px;right: 30px;top: 8px;width: 55px;}
	.item-producto-cat .prod-descuento:before{left: 0px;top: 18px; font-size: 13px;}
	.item-producto-cat h4{ font-size: 13px; height: 30px; overflow:hidden; padding: 0; margin-top: 10px; margin-bottom: 20px;}
	.item-producto-cat:hover h4{
		height: 28px;
	}
}

@media (max-width:480px) {
	.item-producto-cat{ margin: 0; width: 100%;}
	.item-producto-cat h4{font-size: 11px; height: 25px; overflow:hidden; padding: 0; margin-top: 10px; margin-bottom: 20px;}
	.item-producto-cat .prod-new{height: 48px;right: 5px;top: 5px;width: 48px;}
	.item-producto-cat .prod-new:before{left: 0px; font-size:12px; top: 13px;}
	.item-producto-cat .prod-descuento{height: 48px;right: 5px;top: 5px;width: 48px;}
	.item-producto-cat .prod-descuento:before{left: 0px; font-size:12px; top: 13px;}
	.item-producto-cat:hover h4{
		height: 23px;
	}
}
