/* FOOTER */

@media (max-width:468px) {
	.content-footer { width:98%; border: 0; margin: 15px 10px 10px 10px; }
	.footer-1 .col-icon-aside {
		float: left;
		height: 30px;
		font-family: 'Gotham-Light';
		padding-left:4px;
		font-size: 10px;
		color: #5b5b5b;
		margin-bottom: 20px;
		line-height: 10px;
	}
	.footer-1 .col-icon-aside {
		width: 48%;
		margin-left: 2%;
	}
	.footer-1 .col-icon-aside:nth-child(even) {
		width: 48%;
		margin-left: 2%;
	}
	.aside-icon {
		margin-right: 4px;
	}
}

@media (max-width:380px) {
	.footer-1 {
		padding: 0;
	}
	.footer-1 .col-icon-aside {
		width: 49%;
		margin-left: 1%;
	}
	.footer-1 .col-icon-aside:nth-child(even) {
		width: 49%;
		margin-left: 1%;
	}
	.footer-1 .col-icon-aside {
		font-size: 9px;
	}
}

@media (max-width:280px) {
	.footer-1 {
		padding: 0;
	}
	.footer-1 .col-icon-aside {
		width: 80%;
		margin-left: 20%;
	}
	.footer-1 .col-icon-aside:nth-child(even) {
		width: 80%;
		margin-left: 20%;
	}
	.footer-1 .col-icon-aside {
		font-size: 9px;
	}
}