
#ambientes .categorias-ambientes, .categorias-ambientes-expanded{
    height: auto !important; 
}

.content-color-variation span{
    content: "";
    display: block;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 30px;
}

.color-item span{
    cursor:pointer;
} 


.color-item:hover span, 
.color-item.color-active span{
    border: 1px solid #3fa1da
}

/* MENU --------------------------- */

.menu-section .item-menu a {
    text-decoration:none;
}

.menu-section .item-menu a.menu-item-active{
    text-decoration: none; 
    background: #fc6719; 
    border: none; 
    color: #fff; 
    padding-bottom: 63px;
}


.affix .menu-section .item-menu a.menu-item-active{ 
    text-decoration: none; 
    background: #fc6719; 
    border: none; 
    color: #fff; 
    padding-bottom: 39px;
}

.menu-item-active span,
.menu-item-active{
    color: #fff !important;
}

.menu-item-active{
    padding: 3px 0 0; 
    height: 33px; 
    text-transform: uppercase;
}

.menu-item-active:focus {
    text-decoration:none; 
}

.menu-naranja .menu-item-active:after{
    bottom: -10px !important;
}

.menu-item-active:after{
    content: "";
    position: absolute;
    bottom: -9px;
    margin: 0;
    z-index: 9998 !important;
    left: 50%;
    margin-left: -10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid #fc6719; 
}

.menu-blanco .last-item-menu .menu-item-active:after{
    margin-left: -17px;
}

.menu-naranja .last-item-menu .menu-item-active:after{
    margin-left: -9px;
}

@media (max-width: 1199px){
    .menu-blanco .last-item-menu .menu-item-active:after{
        margin-left: -10px;
    }
    
    .menu-naranja .last-item-menu .menu-item-active:after{
        margin-left: -10px;
    }
}

.submenu.collapse .well{
    /*margin-top: -12px;*/
}


/* FIN MENU --------------------------- */

.demo-loader{
  background: #fff !important;
  height: 980px !important;
  width: 100% !important;
  position: relative !important;
  padding-left: 45% !important;
}
.demo-loader img{
  margin: 40% auto !important;
  position: relative
}

/*DETALLE ----------------------*/
.filtros-mobile a img{
    height: 28px;
}

@media (max-width:768px){
    .filtros-mobile a img{
        height: 25px;
    }
}



.div-address .cs-placeholder{
    padding: 10px 15px;
}


.info-cliente-producto .tit-item-info {
    height: 50px;
}

#modal-login .modal-body form #password, #modal-login .modal-body form .email {
    width: 100% !important;
}

/* sliders */

.bx-wrapper{ float: left; }	/* align left */

.bx-wrapper .bx-controls-direction a,
.slider-thumbs .bx-wrapper .bx-controls-direction a{
    position: absolute;
    top: 50%;
    outline: 0;
    width: 44px;
    height: 42px;
    margin-top: -35px;
    text-indent: -9999px;
    z-index: 9999;
}

/* submenu: transition duration */
#submenu-c-1,
#submenu-c-2,
#submenu-c-3,
#submenu-c-4 {
    -webkit-transition: height 0.15s ease;
    transition: height 0.15s ease;
}



.bubble {
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
}

.modal{
    z-index: 10000;
}

.alert-dialog .modal-content, 
#modal-aceptar-mobile .modal-content{
	width: 70%;
	margin: 0 auto;
	border-radius: 0px; 
	background: #603b8f; 
	border:0px;
	min-height: 180px;
	padding: 20px 0;
}
.alert-dialog .modal-body{width: 70%;margin: 0 auto;}
.alert-dialog .close, #modal-aceptar-mobile .close{width: 40px;height: 40px;position: absolute;top: 0px;right: 0px; background: #aca092; color: #fff; font-weight: normal; z-index: 1}
.alert-dialog h5, #modal-aceptar h5, #modal-aceptar-mobile h5{color: #fff;margin: 25px auto 30px !important;}
.alert-dialog .btn-newsletter{ background: #603b8f; border: 1px solid #fff; border-radius: 0px;padding: 5px 25px; margin-right: 0px;font-family: Gotham-Light; font-weight: normal !important;text-transform: uppercase; font-size: 14px !important; color: #ffffff;}
.alert-dialog .btn-newsletter:hover{background: #fff; color: #603b8f; }
.alert-dialog h5 {margin: 0 auto;text-align: center !important;font-size: 16px;font-family: Gotham-Light;text-transform: uppercase;}

@media (max-width:768px){
    .alert-dialog .modal-body{width: 100%;margin: 0 auto;}
    .alert-dialog .modal-content,
	#modal-aceptar-mobile .modal-content{
		width: 100%;
	}
    .alert-dialog .btn-newsletter{ background: #603b8f; border: 1px solid #fff; border-radius: 0px;padding: 5px 25px; margin-right: 0px;font-family: Gotham-Light; font-weight: normal !important;text-transform: uppercase; font-size: 14px !important; color: #ffffff;}
    .filtros-mobile a img{
        height: 25px;
    }
}

#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    display: none;
}

#overlay .background{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

.internal-loading {
    position:relative;
    top: 50%;
    left: 50%;
    margin: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fc6719;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.internal-loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #fc6719;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.title-info-client{
    margin-bottom: 15px;
}

#dialog-message {
  text-align: center;
  padding: 0 !important;
}

#dialog-message:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#dialog-message .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  min-width: 300px;
}

.share-this{
	margin-top: 30px;
}

.share-this span{
	float: left;
}

.share-this .col-md-10,
.share-this .col-sm-12{
	padding-right: 0px;
}

.share-this .share-this-text{
	line-height: 40px;
	display: block;
	padding-right: 10px;
}

.share-this-mobile .share-this-text{
	padding-bottom: 10px;
}