/* Layouts */

.grid-item { 
    width: 16%;
    height:70px;
}

.grid-item img{
    height: 100%;
    width: 100%;
}

.grid-item .image-container-thumb{
    height: 100%;
    cursor: pointer;
}

.grid-item--width2 { 
    width: 32%; 
}

.grid-item--width3 { 
    width: 48%; 
}

.grid-item--width4 { 
    width: 64%; 
}

.grid-item--width5 { 
    width: 80%; 
}

.grid-item--width6 { 
    width: 96%; 
}
.grid-sizer{
    height: 70px;
}

.grid-item--height2{
    height: 144px;
}

.banners-site{
    margin-top: 20px;
}

.clean-banner-site{
    position: absolute; 
    right: 0px; 
    top: -18px;
}