/* GLOBAL */

.site-alert {
    border-radius: initial;
    padding: 8px 10px;
}

.site-alert .close{
    top: 0;
    right: 0;
}

.grid {}

.grid img {
	width: 100%;
	height: 130px;
}



/* USERS */
.widget-user .widget-user-header { padding: 10px; }
.widget-user .widget-user-username { font-size: 20px; }
.widget-user .widget-user-username a { color: #fff; text-decoration: none; }


/**** CARRUSEL ****/

.option{
	display:none;
}

/**** END CARRUSEL ****/

.prods > li {
	position:relative;
}
.prods > li > a {
	display:inline-block;
}

.prods > li > span {
	display:none;
	cursor:pointer;
	position:absolute;
	right: 6px;
	top: 8px;
	color: red;
}
.prods > li:hover > span {
	display: inline-block;
}

.prods > li > .delete-product {
    display:none;
}
.prods > li:hover > .delete-product {
    display: inline-block;
}

/*** MEGA MENU ***/
.grid-categories img{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid #3c8dbc;
}

.grid-categories > div{
    padding: 5px;
}
.grid-categories .main-category-container{
    border:2px solid #3c8dbc;
}

.grid-categories .title-container > h4{
    text-align: center;
    color: black;
    font-size: 18px;
}

.grid-categories .title-container > h4:hover{
    color: #3c8dbc;
}

/* PRODUCTS */

.featured-products-menu .image-container{
    cursor:pointer;
}

.featured-products-menu img{
    width: 100%;
}

.featured-products-menu .image-container img{
    height: 120px;
}

.featured-products-menu .image-container-thumb img{
    height: 100px;
}

.featured-products-menu .title-container-thumb span{
    font-size: 10px;
}

#relatedProductsSection{
    margin-top: 10px;
}

@media (max-width: 620px) {
	.box-title-products {
		display: inline-block;
		visibility: hidden;
	}
}

/* STORES */

.map {
	width: 100%;
	height: 300px;
}

.circle{
    font-size: 10px;
    background: #f39c12;
    color: #fff;
    padding: 0 9px;
    border-radius: 4px;
    font-weight: 700;
    line-height: 16px;
    top: 10px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-flex;
}

ul.breadcrumb.cat-rel {
    background: transparent !important;
    padding: 0 !important;
}

.img-wrapper {
    height: 70px; 
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.img-wrapper:hover > .mask{
    visibility: visible;
}

.mask{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 100 !important;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 10%; 
    text-align: center;
}

.mask a{
    color: #ccc;
    font-size: 30px;
}

.delete-product{
    display:none;
    position: absolute!important;
    right: -4px!important;
    top: -8px!important;
    background: red!important;
    padding: 0!important;
    border: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    color: white!important;
    line-height: 16px !important;
    font-weight: bolder;
    border-radius: 3px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px solid transparent !important;
}

.btn-reset{
    position: absolute;
    right: 45px;
    z-index: 100;
    top: 5px;
    display: none;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

#related-articles-list > li{
    list-style: none;
}

/*BLOG*/

.header-titles{
    margin-bottom: 10px;
}

.header-titles span{
    font-size: 13px;
    font-weight: bold;
}

.blog-actions{
    padding-right:10px;
}

.dragPoint {
    position: absolute;
    top:0;
    left: 0;
}

#wrapper{
    position: relative;
}

.coordenada{
    color: #ffff33;
    font-size: 25px;
}

.content-scrolleable{
    overflow-y: scroll;
    height: 180px;
    border: solid 1px #d2d6de;
}






