/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sb-search {
	position: absolute;
	margin-top: 40px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0px;
	left: 0;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #000;
	font-size: 14px;
}

.sb-search-input::-webkit-input-placeholder {
	color: #999;
}

.sb-search-input:-moz-placeholder {
	color: #999;
}

.sb-search-input::-moz-placeholder {
	color: #999;
}

.sb-search-input:-ms-input-placeholder {
	color: #999;
}

.sb-icon-search{
  width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	background: url(../../img/icon-menu/icon-search.png) no-repeat 0 0 / cover;
}
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	z-index: 90;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}


/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 260px;
	top:70px;
}
.sb-search.sb-search-open .sb-icon-search {
	background: url(../../img/icon-menu/icon-cerrar-search.png)no-repeat 0 0 / cover !important;
	z-index: 90;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: url(../../img/icon-search.png) no-repeat 0 0 / cover;
	color: #fff;
	z-index: 11;
	margin-top: 5px
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
.sb-search.sb-search-open .sb-search-input {
position: absolute;
	background: rgba(0,0,0,0.05);
	height: 40px;
	padding: 10px 5px 10px 40px;
	font-size: 14px;
}

@media (max-width:468px){
.sb-search {
	margin-top: 30px;
}
}