@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('../../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('../../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
		url('../../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
		url('../../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.cs-skin-underline {
	background: transparent;
	font-size: 13px;
	max-width: 400px; 
	padding: 0;
	margin: -9px 0;
}
.filtros div.cs-skin-underline {
	background: transparent;
	font-size: 13px;
	max-width: 300px !important; 
	padding: 0;
	margin: -9px 0;
}
div.cs-skin-underline a{
	font-weight: 300 !important;
}
@media screen and (max-width: 30em) {
	div.cs-skin-underline { font-size: 1.2em; }
}

.cs-skin-underline > span {
	border-color: inherit;
	font-weight: 300; 
}
.menu-mobile-user .lang-mobile .cs-skin-underline > span {font-size:12px; height:30px; display:block; }

.form-actividad .cs-skin-underline > span {color:#a8a8a8; }
.select-ciudad > .cs-skin-underline > span, .select-zona > .cs-skin-underline > span {
	 font-size:16px; padding-top:15px; 
}
.select-ciudad > .cs-skin-underline.cs-active .cs-options, .select-zona > .cs-skin-underline.cs-active .cs-options {margin-top:0px; }

.div-address .cs-skin-underline > span:after {top:65%; }

.filtros .cs-skin-underline > span {
	border-color: inherit;
	font-weight: 300;
}
.filtros .cs-skin-underline ul span {color:#888 !important;}
.cs-skin-underline > span:hover{
	color: #fc6719
}
.navbar-nav.pull-right .cs-skin-underline > span::after {
	content: '';
	background: url(../../img/arrow-select-1.png);
	display: block;
	width: 11px;
	height: 7px;
	font-family: icomoon;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	margin-top: -3px
}

.filtros .cs-skin-underline > span::after {
	content: '';
	background: url(../../img/arrow-filtros.png) no-repeat;
	display: block;
	width: 16px;
	padding-top: 0px;
	margin-top: 3px;
	height: 16px;
	font-family: icomoon;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
} 

.div-address .cs-skin-underline > span::after {
	content: '';
	background: url(../../img/arrow-puntos.png) no-repeat;
	display: block;
	width: 16px;
	padding-top: 0px;
	margin-top: 0px;
	height: 16px;
	font-family: icomoon;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.form-actividad .cs-skin-underline > span::after {
	content: '';
	background: url(../../img/arrow-form.png) no-repeat;
	display: block;
	width: 16px;
	padding-top: 0px;
	margin-top: 3px;
	height: 16px;
	font-family: icomoon;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,0deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
} 

@media(max-width: 960px){ 
    .div-address .cs-skin-underline > span::after {margin-top: 3px;}
    .form-actividad .cs-skin-underline > span::after {margin-top: 5px;}
}

.header-gris .cs-skin-underline > span::after {
	top: 22px
}
.header-gris .cs-skin-underline .cs-options {
	background: #f2f2f2 ;
	opacity: 0;
	height: 0;
	top: 37px;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	padding-bottom: /*25px*/ 2px
}

.cs-skin-underline.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);
    margin-top:2px;
}

.cs-skin-underline .cs-options {
	background: #f2f2f2 ;
	opacity: 0;
	height: 0;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.cs-skin-underline.cs-active .cs-options {
	opacity: 1;
	height: auto;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.form-actividad > .cs-skin-underline.cs-active .cs-options {border:1px solid #ccc; margin-top:8px; }

.cs-skin-underline ul span {
	position: relative;
	text-transform: uppercase;
	font-size: 70%;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 1.2em 0.8em;
	opacity: 0;
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
	content: '';
	opacity: 0;
}

.cs-select .cs-selected span::after {
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.cs-skin-underline ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
} /* more items require more delay declarations */

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
	color: #fc6719;
	background: transparent;
}
.lang-mobile div.cs-skin-underline {
	padding: 10px;
	margin: 0;
}
.lang-mobile div.cs-skin-underline li{
	color: #494949
}
